.product-card {
  width: 300px;
  height: 300px;
  margin: 4px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.product-card-image {
  width: 300px;
  height: 240px;
  overflow: hidden;
}

.product-card-image img {
  width: 100%;
}

.product-card a {
  color: #000;
  text-decoration: none;
}

.product-card a:hover {
  color: blue;
  text-decoration: none;
}

.product-card .product-card-details {
  margin-top: auto;
}

.product-card .product-card-details {
  padding-left: 1em;
}
