mat-toolbar {
  margin-bottom: 16px;
}

@media screen and (min-width: 600px) {
  mat-toolbar {
    padding-left: 10%;
    padding-right: 10%;
  }
}


#logoHeader {
  cursor: pointer;
  font-size: 1.5em;
}

.temp-spacer {
  flex: 1 1 auto;
}

.toolbar-icon {
  margin-left: 16px;
}

.toolbar-dropdown {
  display: flex;
  flex-wrap: nowrap;
}
