<mat-toolbar color="primary">
  <span id="logoHeader" [routerLink]="['/']" ><i>Shop Bridge</i></span>
  <span class="temp-spacer"></span>
  <div *ngIf="isAuthenticated">
    <span>Hi {{currentUser?.name}}</span>
    <button
      class="toolbar-icon"
      mat-icon-button
      aria-label="Shopping Cart Icon"
      [routerLink]="['/cart']"
    >
      <mat-icon [matBadge]="cartItemCount" matBadgeColor="warn" >shopping_cart</mat-icon>
    </button>
    <button
      class="toolbar-icon"
      mat-flat-button
      [routerLink]="['/orders']">
      Orders
    </button>
    <button
      class="toolbar-icon"
      mat-flat-button
      (click)="logout()">
      Logout
    </button>
  </div>
  <div *ngIf="!isAuthenticated">
    <a
      class="toolbar-icon"
      mat-flat-button [routerLink]="['/login']">
      Login
    </a>
  </div>
</mat-toolbar>
