.productSection {
  display: flex;
}

.productSubsection {
  flex: 1;
}

.productImageSection {
  max-height: 600px;
  min-height: 600px;
  text-align: center;
}

.productImageSection img {
  max-height: 600px;
}

.productDetalSection {
  margin-top: 24px;
  height: 400px;
}

.productDetalSection h1{
  font-size: 2.5em;
  font-weight: 500;
}

.productDetalSection h2{
  font-size: 2em;
  font-weight: 500;
}

.productDetalSection h1, h2, h3{
  margin: 0;
}

/deep/ .productDetalSection .mat-expansion-panel-body {
  padding: 0;
}

.productDetalSection .mat-expansion-panel-header {
  padding: 0;
}

.productDetalSection .mainButton{
  width: 10em;
  height: 3em;
  font-size: 1.5em;
  margin: 0.5em;
}

.productDetalSection .addSubDiv {
  width: 10em;
}

.productDetalSection .productCount{
  height: 3em;
  font-size: 1.5em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.productDetalSection .secButton{
  width: 1em;
  height: 3em;
  font-size: 1.5em;
  margin: 0.5em;
}

.categorySection {
  margin-top: 16px;
}

.productsContainer {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
