.orderCard {
  margin: 4px;
}

.orderCard .orderCardHeader {
  display: flex;
}

.orderCard .orderCardHeaderItem {
  flex: 1
}

.orderCard .delivered {
  text-align: end;
}

.orderCard .delivered span {
  font-size: 1.5em;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  background-color: green;
}

.itemSection {
  display: flex;
}

.itemSection h2 {
  margin: 0;
}

.itemSection .itemDetailSection h2:hover {
  color: blue;
}

.itemSubSection {
  flex: 1;
  padding: 8px;
  cursor: pointer;
}

.itemSaleSection {
  text-align: right;
  padding-right: 16px;
}
