<div *ngIf="cartItems.length <= 0">
  <p>You have no items in the cart.</p>
</div>
<div *ngIf="cartItems.length > 0">
  <mat-card class="cartItemCard" >
    <mat-card-content *ngFor="let item of cartItems">
      <section [routerLink]="['/product', item.productId]" class="itemSection">
        <div class="itemSubSection itemDetailSection">
          <h2>{{ item.productName }}</h2>
          <mat-card-subtitle>Category: {{ item.productCategory }}</mat-card-subtitle>
        </div>
        <div class="itemSubSection itemSaleSection">
          <h2>{{ item.productQuantity }} X {{ item.productPrice | currency:"INR" }}</h2>
        </div>
      </section>
      <mat-divider inset></mat-divider>
    </mat-card-content>

    <div class="actionButtons">
      <div class="actionButton discardButtonDiv">
        <button mat-raised-button color="warn" (click)="discardItems()">Discard</button>
      </div>

      <div class="actionButton buyButtonDiv">
        <button mat-raised-button color="warn" (click)="buyItems()">Buy</button>
      </div>
    </div>
  </mat-card>
</div>
