mat-toolbar {
  margin-bottom: 16px;
}

@media screen and (min-width: 320px) {
  .main {
    width: 90%;
    margin: auto;
  }
}

@media screen and (min-width: 600px) {
  .main {
    width: 80%;
    margin: auto;
  }
}

#logoHeader {
  cursor: pointer;
}

.temp-spacer {
  flex: 1 1 auto;
}

.toolbar-icon {
  margin-left: 16px;
}
